<!DOCTYPE html>

<html lang="fr">

<head>
	<meta charset="utf-8" />
	<title><%- title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="theme-color" content="#0070C0">
	<style>
		body{
			font-family: sans-serif;
		}
	</style>
	<link rel="stylesheet" href="https://dav.li/forkawesome/1.0.11/css/fork-awesome.min.css"/>
	<link rel="stylesheet" href="/tui-calendar/tui-calendar.css" />
	<link rel="stylesheet" href="/tui-date-picker/tui-date-picker.css" />
	<link rel="stylesheet" href="/tui-time-picker/tui-time-picker.css" />
</head>

<body>
	<h2><%- title %></h2>
	<button id="changeView"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i> Vue mois</button>
	<div id="calendar"></div>
	<p>S'abonner : <a href="/<%- id %>.ics">https://agendadeministre.fr/<%- id %>.ics</a></p>
	<script>
		var calendarFiles = [<%- files.join(", "); %>];
	</script>
	<script src="/calendar.js"></script>
</body>

</html>