<!DOCTYPE html>

<html lang="fr">

<head>
	<meta charset="utf-8" />
	<title>Agenda de ministre</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="theme-color" content="#0070C0">
	<meta property="og:title" content="Agenda de ministre" />
	<meta property="og:site_name" content="Agenda de ministre" />
	<meta property="og:locale:alternate" content="fr_FR" />
	<link rel="stylesheet" href="https://dav.li/forkawesome/1.0.11/css/fork-awesome.min.css" />
	<link rel="stylesheet" href="index.css" />
</head>

<body>
	<h1><i class="fa fa-calendar" aria-hidden="true"></i></h1>
	<p>Vous avez toujours rêvé d'avoir un agenda de ministre ?</p>

	<ul>
		<% gouv.forEach(function(p){ %>
		<%- include('li', {p: p}); %>
		<% }); %>
		<li>
			<a href="/gouv">
				<span class="img" style="background-color: #ededed"></span>
				<h3>Tout le gouvernement</h3>
				<p>Tous les agendas des membres du gouvernement</p>
				<p><em>Accéder à l'agenda <i class="fa fa-arrow-right" aria-hidden="true"></i></em></p>
			</a>
		</li>
	</ul>

</body>

</html>