<li <% if (!p.dispo) { %>class="indispo" title="Agenda pas encore disponible"<% } %>>
	<a href="/<%= p.id %>">
		<span class="img" style="background-image: url(<%= p.photo %>)" alt="Photo de <%= p.civilite %> <%= p.prenom %> <%= p.nom %>)"></span>
		<h3><%= p.civilite %> <%= p.prenom %> <%= p.nom %></h3>
		<p><%= p.qualite %></p>
		<p><em>Accéder à l'agenda <i class="fa fa-arrow-right" aria-hidden="true"></i></em></p>
	</a>
</li>