body {
	font-family: sans-serif;
	background-color: #ededed;
	max-width: 700px;
	margin: auto;
}

h1 {
	text-align: center;
	padding-top: 20px;
	font-size: 6em;
}
body>p{
	text-align: center;
	padding-bottom: 50px;
	margin-top: -30px;
	font-style: italic;
}

ul {
	padding: 0;
}
ul > li, ul > li > * {
	list-style: none;
	text-decoration: none;
	color: black!important;
}

ul > li {
	position: relative;
	background-color: white;
	min-height: 150px;
	margin: 15px;
	border-radius: 3px;
	overflow: hidden;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
ul > li > a {
	display: block;
	padding: 15px;
	padding-left: 150px;
}

ul > li:not(.indispo):hover {
	-webkit-box-shadow: 0 5px 5px -5px rgba(0,0,0,0.2);
	box-shadow: 0 5px 5px -5px rgba(0,0,0,0.2);
}
ul > li:not(.indispo) > a:hover h3 {
	text-decoration: underline;
}
ul > li:not(.indispo) > a:hover i {
	margin-left: 5px;
}

ul > li .img {
	position: absolute;
	left: 25px;
	top: 25px;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-size: cover;
}

em {
	opacity: 0.5;
}


.indispo {
	opacity: 0.5;
}
.indispo > a {
	cursor: not-allowed;
}